.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-image: url('/img/build.svg');
  background-size: contain;
  background-position: center center;

  > .center {
    text-align: center;
    padding: 0 32px;

    > .titleImage {
      position: relative;
      height: 300px;
      margin: -80px 0 -30px 0;

      @media (max-width: 767.98px) {
        margin: -100px 0 -10px 0;
        height: 200px;
      }
    }

    > p,
    a {
      font-size: 24px;
      max-width: 700px;

      @media (max-width: 767.98px) {
        font-size: 16px;
      }
    }

    > a {
      display: block;
      margin: 32px 0;
      text-decoration: underline;
    }

    .alt {
      color: var(--text-alt);
    }
  }

  > .footerText {
    position: absolute;
    left: 32px;
    bottom: 32px;
    color: var(--hushed);
    white-space: pre;

    > a {
      color: var(--hushed);
    }

    @media (max-width: 767.98px) {
      font-size: 14px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  > .linesImage {
    pointer-events: none;
  }
}
