.container {
  > .landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 580px;
    background: url('/img/background.png');
    background-position: center center;
    background-size: cover;

    > .fixedBanner {
      position: fixed;
      top: 0px; 
      right: 10px;
      z-index: 1000;
  }

    > .terminal {
      width: 800px;
      max-width: calc(100% - 80px);
      height: 450px;
      border-radius: 8px;
      border: 2px solid rgba(209, 198, 255, 0.7);
      background: linear-gradient(
          251deg,
          rgba(255, 255, 255, 0.5) 0%,
          rgba(255, 255, 255, 0.25) 100%
        ),
        linear-gradient(
          0deg,
          rgba(51, 0, 255, 0.5) 0%,
          rgba(51, 0, 255, 0.5) 100%
        ),
        rgba(255, 255, 255, 0.3);
      padding: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;

      .logoImage {
        width: 555px;
        height: 112px;
        position: relative;

        @media (max-width: 800px) {
          width: calc(555px / 1.5);
          height: calc(112px / 1.5);
        }
      }

      .hype {
        padding: 16px 24px;
        border-radius: 8px;
        background: #897de6;
        font-size: 20px;
        text-align: center;
        font-weight: 800;

        > p {
          font-weight: 400;
          white-space: pre-wrap;

          > span {
            opacity: 0.5;
          }

          > b {
            font-weight: 800;
            opacity: 1;
          }
        }
      }

      > .apply {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-family: 'nm-bold';

        > a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 150px;
          height: 50px;
          background: #fff;
          color: #a27ce3;
          font-size: 22px;
          border-radius: 4px;
          border: 2px solid #a27ce3;
          border-bottom: 4px solid #a27ce3;
        }

        > p {
          font-size: 20px;
          color: #fff;
        }
      }
    }
    > .becomeContainer {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 50px;
      opacity: 0.7;
      gap: 40px;
    }
    > .navbar {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;      
    
      > .navLogo {
        font-size: 1.5rem;
    
        > a {
          color: #fff;
          font-family: 'nm-bold';
          text-decoration: none;          
        }
      }
    
      > .navLinks {
        padding: 0;
        margin: 0;
        font-family: 'nm-bold';
        list-style-type: none;
        display: flex;
    
        > li {
          padding: 0;
          margin: 0;
    
          > a {
            color: #fff;
            text-decoration: none;
            padding: 0.5rem 1rem;
            border-radius: 4px;
            transition: background-color 0.3s ease;
    
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  
  > .hackathon {
    padding: 64px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;

    > .what {
      color: #1d0093;
      max-width: 500px;
      font-family: 'nm-regular';

      > h2 {
        color: #9175ff;
        font-size: 28px;
        position: relative;
        font-family: 'nm-bold';

        &:before {
          content: '';
          background: #9175ff;
          height: 4px;
          width: 80px;
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }

      > p {
        font-size: 18px;
        line-height: 24px;

        > b {
          font-family: 'nm-bold';
        }
      }
    }

    @media (max-width: 900px) {
      flex-direction: column;
    }
  }

  > .stats {
    height: 42.5vw;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);

    > video {
      position: absolute;
      display: block;
      width: 100%;
      pointer-events: none;
      z-index: -1;
    }

    > h2 {
      font-family: 'nm-bold';
      font-size: 56px;
    }

    > p {
      font-family: 'nm-light';
      font-size: 20px;
      line-height: 28px;
      max-width: 800px;
    }

    > .numbers {
      display: flex;
      gap: 56px;
      text-align: center;
      margin-top: 16px;

      > div {
        > h3 {
          font-size: 42px;
          margin-bottom: 12px;
          font-family: 'nm-bold';
        }

        > p {
          font-size: 20px;
          font-family: 'nm-light';
        }
      }
    }
  }

  > .sponsors {
    text-align: center;
    padding: 64px;

    > .logoflex {
      display: flex;
      align-items: center;
      justify-content: center;

      > .mlogo {
        position: relative;

        > .sixteen {
          position: absolute;
          right: -48px;
          top: 8px;
        }
      }
    }

    > h2 {
      color: #202020;
      font-size: 48px;
      font-family: 'nm-bold';
    }
  }

  > .schedule {
    height: 40vw;
    min-height: 600px;
    position: relative;
    padding: 64px;
    display: flex;
    justify-content: center;

    > .background {
      background: url('/img/jump.png');
      background-position: center center;
      background-size: cover;
      mix-blend-mode: color-burn;
      opacity: 30%;
      position: absolute;
      inset: 0;
    }

    > .block {
      background: #fff;
      color: #9175ff;
      width: 600px;
      text-align: start;
      padding: 32px;

      > .scheduleItem {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 30px;
        gap: 20px;
  
        > .time {
          width: 150px; 
          text-align: left;
        }
    }
  }
}
  > .faq {
    height: 60vw;
    min-height: 600px;
    background: url('/img/faq.png');
    background-position: center center;
    background-size: cover;
    font-family: 'nm-bold';
    padding: 64px;
    display: flex;
    justify-content: center;

    > .content {
      width: 700px;

      > h2 {
        font-size: 64px;
        margin-bottom: 16px;
      }

      > h3 {
        font-family: 'nm-regular';
        font-size: 30px;
        line-height: 45px;
      }

      > .question {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #9175ff; 
        padding: 10px 0;

        > .arrow {
          transition: transform 0.3s ease;

          &.open {
            transform: rotate(180deg);
          }
        }
      }

      .answer {        
        padding: 10px;
        font-family: 'nm-regular';
        font-size: 20px;
      }

      .question:last-child {
        border-bottom: none;
      }
    }
  }
}