.faq {
  height: 60vw;
  min-height: 600px;
  background: url('/img/faq.png');
  background-position: center center;
  background-size: cover;
  font-family: 'nm-bold';
  padding: 64px;
  display: flex;
  justify-content: center;

  > .content {
    width: 700px;

    > h2 {
      font-size: 64px;
      margin-bottom: 16px;
    }

    > h3 {
      font-family: 'nm-regular';
      font-size: 30px;
      line-height: 45px;
    }

    > .question {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #9175ff;
      padding: 10px 0;

      > .arrow {
        transition: transform 0.3s ease;

        &.open {
          transform: rotate(180deg);
        }
      }
    }

    .answer {
      padding: 10px;
      font-family: 'nm-regular';
      font-size: 20px;
    }

    .question:last-child {
      border-bottom: none;
    }
  }
}
