.sponsors {
  text-align: center;
  padding: 64px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  >.logoflex {
    display: flex;
    align-items: center;
    justify-content: center;

    >.mlogo {
      position: relative;

      >.sixteen {
        position: absolute;
        right: -48px;
        top: 8px;
      }
    }
  }

  >.sponsorContainer {
    width: 100%;
    max-width: 1000px;
    margin: 48px 0;
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 72px;

    >h2 {
      margin: 48px 0px -32px 0;
      color: #9175ff;
      font-size: 28px;
      position: relative;
      font-family: 'outfit-bold';
    }

    >.sponsorRow {
      display: flex;
      justify-content: center;
      gap: 48px;
      flex-wrap: wrap;

      .sponsorLogo {
        height: 48px;
      }

      &:nth-of-type(1) {
        .sponsorLogo {
          height: 108px;
        }
      }
    }

    @media screen and (max-width: 500px) {
      gap: 48px;

      .sponsorRow {
        gap: 24px;

        .sponsorLogo {
          height: 24px;
        }
      }

      .sponsorRow:nth-of-type(1) {
        .sponsorLogo {
          height: 48px;
        }
      }
    }
  }

  >h2 {
    color: #202020;
    font-size: 48px;
    font-family: 'outfit-bold';
  }
}
