.stats {
  height: 40vw;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
  text-align: center;
  background: #B9A8FF;
  color: #FFFFFF;
  overflow: hidden;
  position: relative;

  @media (max-width: 800px) {
    gap: 24px;
  }

  >video {
    position: absolute;
    display: block;
    min-width: 100%;
    min-height: 600px;
    pointer-events: none;
    mix-blend-mode: color-burn;
    opacity: 0.6;
    filter: saturate(0);
  }

  >h2 {
    font-family: 'outfit-bold';
    font-size: 56px;

    @media (max-width: 800px) {
      font-size: 36px;
    }
  }

  >p {
    font-family: 'outfit-light';
    font-size: 20px;
    line-height: 28px;
    max-width: 800px;
    padding: 0 16px;
  }

  >.numbers {
    display: flex;
    gap: 56px;
    text-align: center;
    margin-top: 16px;
    z-index: 1;

    @media (max-width: 800px) {
      flex-direction: column;
      gap: 16px;
    }

    >div {
      >h3 {
        font-size: 42px;
        margin-bottom: 12px;
        font-family: 'outfit-bold';

        @media (max-width: 800px) {
          font-size: 36px;
        }
      }

      >p {
        font-size: 20px;
        font-family: 'outfit-light';
      }
    }
  }
}
