:root {
  --text: #d9e3ff;
  --text-alt: #ffdb80;
  --hushed: #737373;
}

* {
  box-sizing: border-box;
}

html,
body,
#__next {
  padding: 0;
  margin: 0;
  height: 100%;
}

html,
body,
button,
input,
textarea {
  font-family: 'JetBrains Mono', monospace;
  color: var(--text);
}

a {
  color: var(--text-alt);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
